* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2a363b;
  --secondary-color: #e84a5f;
  --primary-comp-color: #ff847c;
  --secondary-comp-color: #feceab;
  --tertiary-comp-color: #99b898;
  --black-main: #28282b;
}

body {
  margin: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Roboto";
}
